body {
    margin-top: 100px;
    font-family: 'proxima-nova', 'Raleway', Helvatica, sans-serif;
    font-size: 20px;
    min-width: 1000px;
}

/*header*/

.navbar-default{
    background-color:#e5ded2;
}

.navbar .navbar-header img{
	padding-left: 20px;
}

.navbar-nav li a{
color:#a28548;
}

.navbar-c {
    background: #003865;
    color: #a28548;
    margin-top: -5px;
}

.navbar-text{
    color:#9d9d9d;
}

.nav li span {
    display: block;
    padding: 10px 15px;
    color: #ffffff;
    padding-right: 140px;
}

.navbar-c .navbar-nav li a:hover {
    background: #eeeef0;
}

.navbar-collapse{
    margin-top: 95px;
}

.navbar-header .head_eff img {
    margin-left: 500px;
}

.navbar-header .head_cert img {
    margin-left: -25px;
}

.navbar-header .head_agil img {
    margin-left: -26px;
}


/*PROJECT PICS*/

#project-pics img{
    margin-top: 45px;
}

#project-pics {
    text-align: center;
}


/*ORANG TEXT*/

#orng-txt .text_rht{
    background: url("../img/PhyCom_4x.png") no-repeat;
    padding: 100px;
    color: white;
}

#orng-txt .text_lft{
    background: url("../img/PhyCom_5x.png") no-repeat;
    padding: 100px;
    color: white;
}

#orng-txt .workflow{
    width: 1440px;
    margin-top: 10px;
}

#orng-txt .col-sm-6{
    padding-left: 0px;
    padding-right: 0px;
}


#orng-txt .col-sm-6 .blck{
    color:black
}



/*EFFICIENCY TEXT*/

.efficiency h4 {
    font-size: 70px;
    color: #71a168;
    padding-left: 160px;
    padding-top: 30px;
}

.efficiency p{
    padding-left: 150px;
}

.efficiency .container{
    background: url("../img/efficiency_number.png") no-repeat;
}


/*CERTAINTY TEXT*/

.certainty .container{
    background: url("../img/certainty_number.png") no-repeat;
}

.certainty h4 {
    font-size: 70px;
    color: #2c868d;
    padding-left: 160px;
    padding-top: 80px;
}

.certainty span p{
    color: #003865;
}

.certainty .Yell_h{
    color: #d79e3e;
}

.certainty .lft_p p{
    padding-left: 150px;
}

/*AGILITY TEXT*/

.agility h4 {
    font-size: 70px;
    color: #003865;
    padding-left: 160px;
    padding-top: 80px;
}

.agility .Yell_h{
    color: #d79e3e;
}

.agility span p{
    color: #003865;
}

.agility .container{
    background: url("../img/agility_number.png") no-repeat;
}

.agility .lft_p p{
    padding-left: 150px;
}


/*FOOTER*/

footer {
    background: black;
    color: white;
    padding: 20px 0 10px;
    font-size: 12px;
    width: 100%;
}

footer p{
    margin: 0;
}

footer a:link, footer a:visited {
    color: white;
}

footer a:hover {
    color: #dd5638;
}

footer li.signup-link a {
    color: #dd5638;
}

footer li.signup-link a:hover {
    font-weight: bold;
}

.footer_rht span{
    padding: 10px;
}

.rht_yell{
    color: #d79e3e;
}

footer .footer_rht p{
    margin-top: 55px;
    font-size: 20px;
}

footer .footer_rht span{
    padding-left: 12px;
    font-size: 20px;
}


/*INDUSTRIES*/

.indust h2{
    text-align: center;
    padding-top: 85px;
}

.indust .indpic img {
    float: right;
}

.indrigt p span{
    font-size: 23px;
    color: #d79e3e;
}

.indrigt p{
    font-size: 21px;
}

.indrigt .col-sm-4 img{
    margin-top: 40px;
}

.indpic {
    margin-top: 20px;
}

.indrigt{
    margin-top: 20px;
}


/*MEDIA*/


@media (min-width: 1488px) and (max-width : 1980px) {
    .container {
        width: 1440px;
    }

    footer .col-sm-6{
        padding-left: 400px;
    }

    .navbar-header .head_eff img {
        margin-left: 500px;
    }
}

@media (min-width: 1200px) and (max-width : 1488px) {

    .navbar-header .head_eff img {
        margin-left: 200px;
    }
}



@media (min-width: 993px) and (max-width : 1200px) {
    .container img {
        width: 111%;
    }

    #orng-txt .text_rht {
        width: 24em;
        padding: 35px;
    }

    #orng-txt .text_lft {
        width: 24em;
        padding: 35px;
    }

    #orng-txt .workflow {
        width: 986px;

    }

    footer .container img {
        width: 30%;
    }

    .indust img {
        width: inherit;
    }

    .navbar-header .head_eff img {
        margin-left: 4px;
    }

}

    @media (min-width: 881px) and (max-width: 992px) {
        .container img {
            width: 114%;
        }

        .indust img {
            width: inherit;
        }

        #orng-txt .text_rht {
            width: 19em;
            padding: 10px;
        }

        #orng-txt .text_lft {
            width: 18em;
            padding: 10px;
        }

        #orng-txt .workflow {
            width: 781px;
        }

        .efficiency p{
            padding-left: 0px;
        }

        .certainty .lft_p p{
            padding-left: 0px;
        }

        .agility .lft_p p{
            padding-left: 0px;
        }

        footer .container img {
            width: 30%;
        }

        .navbar-header .head_eff img {
            margin-left: -122px;
        }

    }

    @media (min-width: 768px) and (max-width: 880px) {
        .container img {
            width: 114%;
        }

        .indust img {
            width: inherit;
        }

        #project-pics img {
            margin-top: 95px;
        }

        #orng-txt .text_rht {
            width: 19em;
            padding: 10px;
        }

        #orng-txt .text_lft {
            width: 18em;
            padding: 10px;
        }

        #orng-txt .workflow {
            width: 781px;

        }

        .efficiency p{
            padding-left: 0px;
        }

        .certainty .lft_p p{
            padding-left: 0px;
        }

        .agility .lft_p p{
            padding-left: 0px;
        }

        footer .container img {
            width: 30%;
        }

        .navbar-header .head_eff img {
            margin-left: -218px;
        }

    }

    @media (min-width: 0px) and (max-width: 767px) {
        #project-pics img {
            margin-top: 0px;
            margin-left: -220px;
        }

        #orng-txt .container .col-sm-6{
            margin: 5px;
        }

        #orng-txt .text_lft{
            width: 710px;
        }

        footer .container img {
            width: 10%;
        }

        footer .col-sm-6{
            padding-left: 200px;
        }


        .indust .indpic img {
            float: left;
        }

        .navbar-header .head_eff img {
            margin-left: -25px;
        }

    }
