body {
    margin-top: 100px;
    font-family: 'proxima-nova', 'Raleway', Helvatica, sans-serif;
    font-size: 20px;
    min-width: 1500px;
}

/*header*/

.navbar-default{
    background-color:#e5ded2;
}

.navbar .navbar-header img{
	padding-left: 20px;
}

.navbar-nav li a{
color:#a28548;
}

.navbar-c {
    background: #003865;
    color: #a28548;
    margin-top: -5px;
}

.navbar-text{
    color:#9d9d9d;
}

.nav li span {
    display: block;
    padding: 10px 15px;
    color: #ffffff;
    padding-right: 140px;
}

.navbar-c .navbar-nav li a:hover {
    background: #eeeef0;
}

.navbar-collapse{
    margin-top: 97px;
}