body {
    margin-top: 100px;
    font-family: 'proxima-nova', 'Raleway', Helvatica, sans-serif;
    font-size: 20px;
    min-width: 1000px;
}

/*header*/

.navbar-default{
    background-color:#e5ded2;
}

.navbar .navbar-header img{
	padding-left: 20px;
}

.navbar-nav li a{
color:#a28548;
}

.navbar-c {
    background: #003865;
    color: #a28548;
    margin-top: -5px;
}

.navbar-text{
    color:#9d9d9d;
}

.nav li span {
    display: block;
    padding: 10px 15px;
    color: #ffffff;
    padding-right: 140px;
}

.navbar-c .navbar-nav li a:hover {
    background: #eeeef0;
}

.navbar-collapse{
    margin-top: 97px;
}


/*PROJECT PICS*/

#project-pics img{
    margin-top: 47px;
}

#project-pics {
    text-align: center;
}


/*ORANG TEXT*/

#orng-txt .text_rht{
    background: url("../img/PhyCom_4x.png") no-repeat;
    padding: 100px;
    color: white;
}

#orng-txt .text_lft{
    background: url("../img/PhyCom_5x.png") no-repeat;
    padding: 100px;
    color: white;
}

#orng-txt .workflow{
    width: 1440px;
    margin-top: 10px;
}

#orng-txt .col-sm-6{
    padding-left: 0px;
    padding-right: 0px;
}


#orng-txt .col-sm-6 .blck{
    color:black
}





.efficiency h4 {
    font-size: 70px;
    color: #71a168;
    padding-left: 115px;
    padding-top: 30px;
}

.efficiency span p{
    color: #003865;
}

.efficiency p{
    padding-left: 100px;
}

.efficiency .container{
    background: url("../img/efficiency_number.png") no-repeat;
}




/*MEDIA*/


@media (min-width: 1200px) and (max-width : 1920px) {
    .container {
        width: 1440px;
    }
}


@media (min-width: 993px) and (max-width : 1200px) {
    .container img {
        width: 111%;
    }

    #orng-txt .text_rht {
        width: 24em;
        padding: 35px;
    }

    #orng-txt .text_lft {
        width: 24em;
        padding: 35px;
    }

    #orng-txt .workflow {
        width: 986px;

    }
}

    @media (min-width: 881px) and (max-width: 992px) {
        .container img {
            width: 114%;
        }

        #orng-txt .text_rht {
            width: 19em;
            padding: 10px;
        }

        #orng-txt .text_lft {
            width: 18em;
            padding: 10px;
        }

        #orng-txt .workflow {
            width: 781px;
        }

        .efficiency p{
            padding-left: 0px;
        }

    }

    @media (min-width: 768px) and (max-width: 880px) {
        .container img {
            width: 114%;
        }

        #project-pics img {
            margin-top: 95px;
        }

        #orng-txt .text_rht {
            width: 19em;
            padding: 10px;
        }

        #orng-txt .text_lft {
            width: 18em;
            padding: 10px;
        }

        #orng-txt .workflow {
            width: 781px;

        }

        .efficiency p{
            padding-left: 0px;
        }
    }

    @media (min-width: 0px) and (max-width: 767px) {
        #project-pics img {
            margin-top: 0px;
            margin-left: -220px;
        }

        #orng-txt .container .col-sm-6{
            margin: 5px;
        }

        #orng-txt .text_lft{
            width: 710px;
        }

    }
